<ul>
<%= Campaign.all.each do |campaign| %>
  <li>Name: <%= campaign.name %>
  <p> Number of impressions: <%= campaign.impressions %></p>
  <p> Number of clicks: <%= campaign.clicks %></p>
<% end %>
</ul>
